.center-box {
  position:relative;
  display:flex;    
  align-items:flex-end;
  width:700px;    
  height:100%;
  padding-bottom:2.8em;
}
.center-box .station {
  position:relative;
  display:flex;        
}
.center-box .station .dot {    
  position:absolute;
  top:7px;
  left:40px;  
  display:flex;
  width:100%;  
  height:10px;  
}
.center-box .station.right .dot {      
  flex-direction: row-reverse;    
  left:-35px;
}
.center-box .station.right .dot > span {
  animation : waying 2.7s ease-in-out infinite; 
}
.center-box .station .dot > span { 
  display:flex;
  width:4px;
  height:4px;
  min-width:4px;
  min-height:4px;
  border-radius:50%;
  background: #E6206F; 
  margin:0 2px;    
  animation : waying 2.7s ease-in-out infinite; 
}
.center-box .station .dot > span.n1 {     
  -webkit-animation-delay: 0.1s; 
  animation-delay: 0.1s;
}
.center-box .station .dot > span.n2 {     
  -webkit-animation-delay: 0.2s; 
  animation-delay: 0.2s;   
}
.center-box .station .dot > span.n3 {     
  -webkit-animation-delay: 0.3s; 
  animation-delay: 0.3s;  
}
.center-box .station .dot > span.n4 {     
  -webkit-animation-delay: 0.4s; 
  animation-delay: 0.4s;   
}
.center-box .station .dot > span.n5 {     
  -webkit-animation-delay: 0.5s; 
  animation-delay: 0.5s;
}
.center-box .station .dot > span.n6 {     
  -webkit-animation-delay: 0.6s; 
  animation-delay: 0.6s;
}
.center-box .station .dot > span.n7 {     
  -webkit-animation-delay: 0.7s; 
  animation-delay: 0.7s;
}
.center-box .station .dot > span.n8 {     
  -webkit-animation-delay: 0.8s; 
  animation-delay: 0.8s;
}
.center-box .station .dot > span.n9 {     
  -webkit-animation-delay: 0.9s; 
  animation-delay: 0.9s;
}
.center-box .station .dot > span.n10 {     
  -webkit-animation-delay: 1s; 
  animation-delay: 1s;
}
.center-box .station .dot > span.n11 {     
  -webkit-animation-delay: 1.1s; 
  animation-delay: 1.1s;
}
.center-box .station .dot > span.n12 {     
  -webkit-animation-delay:1.2s; 
  animation-delay: 1.2s;   
}
.center-box .station .dot > span.n13 {     
  -webkit-animation-delay: 1.3s; 
  animation-delay: 1.3s;  
}
.center-box .station .dot > span.n14 {     
  -webkit-animation-delay: 1.4s; 
  animation-delay: 1.4s;   
}
.center-box .station .dot > span.n15 {     
  -webkit-animation-delay: 1.5s; 
  animation-delay: 1.5s;
}
.center-box .station .dot > span.n16 {     
  -webkit-animation-delay: 1.6s; 
  animation-delay: 1.6s;
}
.center-box .station .dot > span.n17 {     
  -webkit-animation-delay: 1.7s; 
  animation-delay: 1.7s;
}
.center-box .station .dot > span.n18 {     
  -webkit-animation-delay: 1.8s; 
  animation-delay: 1.8s;
}
.center-box .station .dot > span.n19 {     
  -webkit-animation-delay: 1.9s; 
  animation-delay: 1.9s;
}
.center-box .station .dot > span.n20 {     
  -webkit-animation-delay: 2s; 
  animation-delay: 2s;
}
.center-box .station .dot > span.n21 {     
  -webkit-animation-delay: 2.1s; 
  animation-delay: 2.1s;
}
.center-box .station .dot > span.n22 {     
  -webkit-animation-delay: 2.2s; 
  animation-delay: 2.2s;   
}
.center-box .station .dot > span.n23 {     
  -webkit-animation-delay: 2.3s; 
  animation-delay: 2.3s;  
}
.center-box .station .dot > span.n24 {     
  -webkit-animation-delay: 2.4s; 
  animation-delay: 2.5s;   
}
.center-box .station .dot > span.n25 {     
  -webkit-animation-delay: 2.5s; 
  animation-delay: 2.5s;
}
.center-box .station .dot > span.n26 {     
  -webkit-animation-delay: 2.6s; 
  animation-delay: 2.6s;
}
.center-box .station .dot > span.n27 {     
  -webkit-animation-delay: 2.7s; 
  animation-delay: 2.7s;
}
.center-box .station .dot > span.n28 {     
  -webkit-animation-delay: 2.8s; 
  animation-delay: 2.8s;
}
.center-box .station .dot > span.n29 {     
  -webkit-animation-delay: 2.9s; 
  animation-delay: 2.9s;
}
.center-box .station .dot > span.n30 {     
  -webkit-animation-delay: 3s; 
  animation-delay: 3s;
}
.center-box .station .dot > span.n31 {     
  -webkit-animation-delay: 3.1s; 
  animation-delay: 3.1s;
}
.center-box .station .dot > span.n32 {     
  -webkit-animation-delay:3.2s; 
  animation-delay: 3.2s;   
}
.center-box .station .dot > span.n33 {     
  -webkit-animation-delay: 3.3s; 
  animation-delay: 3.3s;  
}
.center-box .station .dot > span.n34 {     
  -webkit-animation-delay: 3.4s; 
  animation-delay: 3.4s;   
}
.center-box .station .dot > span.n35 {     
  -webkit-animation-delay: 3.5s; 
  animation-delay: 3.5s;
}
.center-box .station .dot > span.n36 {     
  -webkit-animation-delay: 3.6s; 
  animation-delay: 3.6s;
}
.center-box .station .dot > span.n37 {     
  -webkit-animation-delay: 3.7s; 
  animation-delay: 3.7s;
}
.center-box .station .dot > span.n38 {     
  -webkit-animation-delay: 3.8s; 
  animation-delay: 3.8s;
}
.center-box .station .dot > span.n39 {     
  -webkit-animation-delay: 3.9s; 
  animation-delay: 3.9s;
}
.center-box .station .dot > span.n40 {     
  -webkit-animation-delay: 4s; 
  animation-delay: 4s;
}

@keyframes waying {
  0% {
      opacity:1;
  }   
  50% {
      opacity:.2;
  }  
  100% {
      opacity:1;
  }      
}
.center-box .station > li {
  width:91px;    
}
.center-box .station > li .a-wrap {
  position:relative;
  display:flex;
  flex-direction: column;
  align-items:Center;
  width:100%;
}
.center-box .station > li .a-wrap .a-icon {
  display:block;
  width:16px;
  height:16px;
  background: #FFFFFF;
  border: 2px solid #E6206F;
  border-radius:50vh;
}
.center-box .station > li .a-wrap .a-txt {
  padding-top:8px;
}
.center-box .station > li .a-wrap .a-txt .txt {
  color: #FFFFFF;
  font-size: 1.4em;
}
.center-box .station .a-wrap:hover .go-cctv {    
  transform:translate(-50% , 0);
  visibility: visible;
}
.center-box .station.center:hover .go-cctv {    
  transform:translate(-50% , 0);
  visibility: visible;
}
.center-box .station .go-cctv {
  position:absolute;    
  bottom:calc(100% + 3px);
  left:50%;
  display:flex;
  align-items:center;
  width: 138px;
  height: 38px;
  line-height:38px;
  background: #2D56F7;
  border: 1px solid #173090;
  border-radius: 5px;
  transform:translate(-50% , 5px);
  transition:0.3s;
  visibility: hidden;
}
.center-box .station.center .go-cctv {
  bottom: calc(100% + 7px);
}
.center-box .station  .go-cctv .icon {
  display:inline-block;
  margin: 0 0.6em 0 1.5em;
  width:2.4em;
  height:2.4em;
  background:url('../img/camera.png') center no-repeat;
  background-size:100%;
}
.center-box .station  .go-cctv >.txt,
.center-box .station.center > a.go-cctv >.txt  {
  color: #FFFFFF;    
  font-size: 1.4em;
  font-family: 'NotoSansCJKkr-Medium';    
}
.center-box .station > li .a-wrap .arrow_ab {
  /* position: relative; */
}
.center-box .station  .go-cctv .arrow_ab .arrow:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  border-top: solid 12px #173090;
  border-right: solid 7px transparent;
  border-left: solid 7px transparent;
  transform: translateX(-50%);
}
.center-box .station  .go-cctv .arrow_ab .arrow:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  border-top: solid 11px #2D56F7;
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
  transform: translateX(-50%);
  z-index:1;
}
.center-box .station.right {

}
.center-box .station.center{
  position:relative;
  display:flex;
  align-items:center;
  justify-content: center;
  width: 140px;
  height:36px;
  background: #FFFFFF;
  border: 3px solid #E6206F;
  border-radius: 18px;
  margin-bottom: 8px; 
  box-shadow: 0px 0px 10px #E6206F;
   

}
.center-box .station.center > a .txt {
  color: #E6206F;
  font-size: 1.6em;
  font-family: 'NotoSansCJKkr-Medium';     
}
.center-box .station .li01 {
   margin-right:15px;     
}
.center-box .station .li02 {
  margin-right:52px;
}
.center-box .station .li03 {
  margin-left:52px;
}
.center-box .station .li04 {
  margin-left:15px;    
}
.center-box .station > li.hidden {
  visibility: hidden;
}
.center-box .station .li01 a , 
.center-box .station .li04 a { 
  cursor: initial;
}
