@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "NotoSansKr", sans-serif;
  font-weight: 400;
  color: #161616;
}

body {
  position: relative;
  min-width: 1330px;
  height:3000px;
  background-color: #525252;
}

.container {
  font-size: 12px;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  background: #F4F4F4;
}

.scroll::-webkit-scrollbar-thumb {
  width: 8px;
  background: #C6C6C6;
}

.scrollx::-webkit-scrollbar {
  height: 4px;
  background: #F4F4F4;
}

.scrollx::-webkit-scrollbar-thumb {
  height: 8px;
  background: #C6C6C6;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.dim.on {
  bottom: 0;
}

.dim3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
}
.dim3.on {
  bottom: 0;
}

button {
  font-family: "NotoSansKr";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

input {
  font-family: "NotoSansKr";
  font-weight: 400;
}
input:focus-visible {
  outline: none;
}

::-webkit-input-placeholder {
  color: #C6C6C6;
}
.ckbasketpop {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 5;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1330px) {
  .ckbasketpop {
    top: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}
.ckbasketpop.on {
  display: flex;
}
.ckbasketpop.inpop2 {
  width: 620px;
}
.ckbasketpop.inpop2 .div-selected {
  width: 227px;
}
.ckbasketpop .btn-close3 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  background: url("../../img/icon24/off/close.png") center no-repeat;
  background-size: 24px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.ckbasketpop .btn-close3:active {
  background: url("../../img/icon24/on/close.png") center no-repeat #F2F4F8;
  background-size: 24px;
}
.ckbasketpop .btn-close3:hover {
  background-color: #F2F4F8;
}
.ckbasketpop .btn-close3.disabled {
  background: url("../../img/icon24/off/close.png") center no-repeat #adaaaa;
  background-size: 24px;
  opacity: 0.3;
  pointer-events: none;
}
.ckbasketpop .tit-h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.ckbasketpop .add-list {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
.ckbasketpop .add-list .scroll {
  height: 390px;
  overflow-y: auto;
}
.ckbasketpop .add-list .list {
  width: 150px;
  padding: 9px 0;
}
.ckbasketpop .add-list .list.n1 {
  margin-left: 10px;
}
.ckbasketpop .add-list .list.n2 {
  position: relative;
  margin-left: 32px;
}
.ckbasketpop .add-list .list.n2:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 100%;
  top: 0;
  left: -32px;
  background: url("../../img/icon16/off/next.png") center no-repeat;
  background-size: 16px;
}
.ckbasketpop .add-list .list.n2 .selt {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F4F4;
}
.ckbasketpop .add-list .list.n2 .empty {
  color: #8D8D8D;
  background: #ffffff;
  font-size: 12px;
  border-bottom: none;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.ckbasketpop .add-list .list.n2.on .selt {
  display: block;
  background: #ffffff;
}
.ckbasketpop .add-list .list.n2.on .empty {
  background: #F4F4F4;
}
.ckbasketpop .add-list .list.n2.on:before {
  background-image: url("../../img/icon16/on/next.png");
  background-size: 16px;
}
.ckbasketpop .add-list .list li {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 26px;
  padding-left: 4px;
  border-bottom: 1px solid #E9E9E9;
  background: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.ckbasketpop .add-list .list li:hover {
  background: #F2F4F8;
}
.ckbasketpop .add-list .list li.li-unit {
  gap: 4px;
  border-bottom: none;
  padding-left: 0;
}
.ckbasketpop .add-list .list li.li-unit input[type=number] {
  width: 120px;
}
.ckbasketpop .add-list .list li.li-unit:hover {
  background: #ffffff;
}
.ckbasketpop .add-list .sd {
  color: #525252;
  font-size: 12px;
}
.ckbasketpop .div-selected {
  display: flex;
  flex-wrap: wrap;
  background: #F4F4F4;
  padding: 9px;
}
.ckbasketpop .div-selected .btn-up {
  margin-right: 4px;
}
.ckbasketpop .div-selected .btn-down {
  margin-right: 8px;
}
.ckbasketpop .div-selected .selted {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.ckbasketpop .div-selected .selted li {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 25px;
  flex: 0 0 25px;
  padding-left: 4px;
  /* 텍스트 긁힘 안되게 방지 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ckbasketpop .selted, .ckbasketpop .selt {
  margin-top: 10px;
}
.ckbasketpop .btn-area {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
}
.ckbasketpop .ckbox {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  flex: 0 0 14px;
  border: 1px solid #105CF2;
  background: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  margin: 0;
}
.ckbasketpop .ckbox:disabled {
  background-color: #F4F4F4;
  border: 1px solid #E0E0E0;
  pointer-events: none;
}
.ckbasketpop .ckbox:disabled + label {
  color: #C6C6C6;
  pointer-events: none;
}
.ckbasketpop .ckbox:hover {
  background-color: #CAD9FE;
}
.ckbasketpop .ckbox:checked {
  background: url("../../img/icon10/check.png") center no-repeat #105CF2;
  background-size: 10px;
}
.ckbasketpop .ckbox:checked:disabled {
  background-color: #E9E9E9;
}
.ckbasketpop .ckbox:checked:disabled + label {
  color: #C6C6C6;
  pointer-events: none;
}
.ckbasketpop .ckbox:checked:hover {
  background-color: #CAD9FE;
  border: 1px solid #CAD9FE;
}
.ckbasketpop .titsty {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #F2F4F8;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  height: 32px;
  padding: 0 8px;
  font-size: 13px;
  min-width: 122px;
}
.ckbasketpop .titsty .st {
  color: #8D8D8D;
  flex: 0 0 auto;
}
.ckbasketpop .titsty .sd {
  color: #161616;
  line-height: 1.1;
}
.ckbasketpop .titsty .sd {
  line-height: inherit;
}
.ckbasketpop .input-search {
  width: 176px;
  height: 32px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 0 5px 0 37px;
  background: url("../../img/icon20/search.png") left 7px center no-repeat #FFFFFF;
  background-size: 20px;
  font-size: 13px;
  color: #161616;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.ckbasketpop .input-search:hover {
  background-color: #F2F4F8;
}
.ckbasketpop .input-search:focus {
  border: 1px solid #105CF2;
}
.ckbasketpop .input-search:disabled {
  background-color: #adaaaa;
  opacity: 0.3;
  pointer-events: none;
}
.ckbasketpop .input-search::-webkit-search-cancel-button {
  appearance: none;
  width: 20px;
  height: 20px;
  background: url("../../img/icon14/close.png") center no-repeat;
  background-size: 14px;
}
.ckbasketpop .input1 {
  width: 150px;
  height: 30px;
  font-size: 12px;
  color: #161616;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 0 10px;
}
.ckbasketpop .input1:disabled {
  background: #E9E9E9;
}
.ckbasketpop input[type=number] {
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #525252;
  font-size: 11px;
  outline: none;
  text-align: right;
  padding-right: 0;
}
.ckbasketpop .unit {
  color: #161616;
  font-size: 11px;
}
.ckbasketpop .sd-num {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
}
.ckbasketpop .sd-num input {
  width: 30px;
}
.ckbasketpop .user-list {
  margin: 10px;
}
.ckbasketpop .user-list .head {
  display: grid;
  grid-template-columns: 98px 98px 144px;
  grid-template-rows: 26px;
  position: sticky;
  top: 0;
}
.ckbasketpop .user-list .head > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background: #F4F4F4;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #C6C6C6;
  border-right: 1px solid #E9E9E9;
}
.ckbasketpop .user-list .head > span:last-child {
  border-right: none;
}
.ckbasketpop .user-list .head > span.txc {
  text-align: center;
}
.ckbasketpop .user-list .body {
  display: grid;
  max-height: 390px;
}
.ckbasketpop .user-list .body .li-wrap {
  border-bottom: 1px solid #C6C6C6;
}
.ckbasketpop .user-list .body .li-wrap.disabled {
  background: #F4F4F4;
  opacity: 0.7;
}
.ckbasketpop .user-list .body .li-wrap > .sd {
  border-right: 1px solid #E9E9E9;
}
.ckbasketpop .user-list .body .li-wrap .sd, .ckbasketpop .user-list .body .li-wrap .ck {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #525252;
  padding: 0 4px;
}
.ckbasketpop .user-list .body .li-wrap .sd.txc, .ckbasketpop .user-list .body .li-wrap .ck.txc {
  justify-content: center;
}
.ckbasketpop .user-list .body .li-wrap .sd.txr, .ckbasketpop .user-list .body .li-wrap .ck.txr {
  justify-content: flex-end;
}
.ckbasketpop .user-list .body .li-wrap .sd.ovfhd, .ckbasketpop .user-list .body .li-wrap .ck.ovfhd {
  overflow: hidden;
}
.ckbasketpop .user-list .body .li-wrap .sd.ck, .ckbasketpop .user-list .body .li-wrap .ck.ck {
  padding: 0;
  justify-content: center;
}
.ckbasketpop .user-list .body .li-wrap .sd .els, .ckbasketpop .user-list .body .li-wrap .ck .els {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ckbasketpop .user-list .body .li-wrap .ul-side > li {
  border-bottom: 1px solid #E9E9E9;
}
.ckbasketpop .user-list .body .li-wrap .ul-side > li:last-child {
  border-bottom: none;
}
.ckbasketpop .user-list .body .li-wrap .ul-side > li > span {
  border-right: 1px solid #E9E9E9;
}
.ckbasketpop .user-list .body .li-wrap .ul-side > li > span:last-child {
  border-right: none;
}
.ckbasketpop .user-list .body .li-wrap {
  display: grid;
  grid-template-columns: 98px 242px;
}
.ckbasketpop .user-list .body .li-wrap .ul-side {
  display: grid;
}
.ckbasketpop .user-list .body .li-wrap .ul-side > li {
  display: grid;
  grid-template-rows: 26px;
  grid-template-columns: 98px 144px;
}
.ckbasketpop .user-list .body .li-wrap .ul-side > li:last-child {
  border-bottom: none;
}
.ckbasketpop .user-list .body .li-wrap .ul-side > li > span {
  display: flex;
  align-items: center;
}
.ckbasketpop .user-list .body .li-wrap .sd {
  font-size: 12px;
  color: #525252;
  padding: 0 4px;
}
.ckbasketpop .user-list .body .li-wrap .ck {
  display: flex;
  align-items: center;
}
.ckbasketpop .user-list .body .li-wrap.inputmode input {
  border: none;
  padding: 0;
  width: 100%;
  color: #525252;
  font-size: 12px;
}
.touchzone1,.touchzone2 {
  position:relative;
}


