@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "NotoSansKr", sans-serif;
  font-weight: 400;
  color: #161616;
}

body {
  position: relative;
  min-width: 1330px;    
}
body.touchdevice {
  overflow: hidden;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
} 
.container {
  font-size: 12px;
}
.scroll::-webkit-scrollbar-track {
   box-shadow: none;
    background-color: transparent;
}
.scroll::-webkit-scrollbar {
  width: 9px;
  background: #F4F4F4;
}
.scroll::-webkit-scrollbar-thumb {
  width: 8px;
  background: #C6C6C6;    
}
.scroll::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}
.scrollx::-webkit-scrollbar {
  height: 4px;
  background: #F4F4F4;
}

.scrollx::-webkit-scrollbar-thumb {
  height: 8px;
  background: #C6C6C6;
}


.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.dim.on {
  bottom: 0;
}

.dim3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
}
.dim3.on {
  bottom: 0;
}

button {
  font-family: "NotoSansKr";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

input {
  font-family: "NotoSansKr";
  font-weight: 400;
}
input:focus-visible {
  outline: none;
}

::-webkit-input-placeholder {
  color: #C6C6C6;
}
.ckbasketpop {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 5;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1330px) {
  .ckbasketpop {
    top: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}
.ckbasketpop.on {
  display: flex;
    /* 텍스트 긁힘 안되게 방지 */
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.ckbasketpop.inpop2 {
  width: 620px;
}
.ckbasketpop.inpop2 .div-selected {
  width: 227px;
  border-right:1px solid #c6c6c6;
}
.ckbasketpop .btn-close3 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  background: url("../../img/icon24/off/close.png") center no-repeat;
  background-size: 24px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.ckbasketpop .btn-close3:active {
  background: url("../../img/icon24/on/close.png") center no-repeat #F2F4F8;
  background-size: 24px;
}
.ckbasketpop .btn-close3:hover {
  background-color: #F2F4F8;
}
.ckbasketpop .btn-close3.disabled {
  background: url("../../img/icon24/off/close.png") center no-repeat #adaaaa;
  background-size: 24px;
  opacity: 0.3;
  pointer-events: none;
}
.ckbasketpop .tit-h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.ckbasketpop .add-list {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
.ckbasketpop .add-list .scroll {
  height: 390px;
  overflow-y: auto;
}
.ckbasketpop .add-list .sd {
  color: #525252;
  font-size: 12px;
}
.ckbasketpop .div-selected {
  display: flex;
  flex-wrap: wrap;
  background: #F4F4F4;
  padding: 9px;
}
.ckbasketpop .div-selected .selted {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.ckbasketpop .div-selected .selted li {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 25px;
  flex: 0 0 25px;
  padding-left: 4px;
  /* 텍스트 긁힘 안되게 방지 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ckbasketpop .div-selected .selted li.touchstyle {
  background:red;
}
.ckbasketpop .selted {
  margin-top: 10px;
}
.ckbasketpop .ckbox {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  flex: 0 0 14px;
  border: 1px solid #105CF2;
  background: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  margin: 0;
}
.ckbasketpop .ckbox:disabled {
  background-color: #F4F4F4;
  border: 1px solid #E0E0E0;
  pointer-events: none;
}
.ckbasketpop .ckbox:disabled + label {
  color: #C6C6C6;
  pointer-events: none;
}
.ckbasketpop .ckbox:hover {
  background-color: #CAD9FE;
}
.ckbasketpop .ckbox:checked {
  background: url("../../img/icon10/check.png") center no-repeat #105CF2;
  background-size: 10px;
}
.ckbasketpop .ckbox:checked:disabled {
  background-color: #E9E9E9;
}
.ckbasketpop .ckbox:checked:disabled + label {
  color: #C6C6C6;
  pointer-events: none;
}
.ckbasketpop .ckbox:checked:hover {
  background-color: #CAD9FE;
  border: 1px solid #CAD9FE;
}
.ckbasketpop input[type=number] {
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #525252;
  font-size: 11px;
  outline: none;
  text-align: right;
  padding-right: 0;
}
.ckbasketpop .unit {
  color: #161616;
  font-size: 11px;
}
.ckbasketpop .sd-num {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
}
.ckbasketpop .sd-num input {
  width: 30px;
}
.touchzone1,.touchzone2 {
  position:relative;
}


