body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
}

.scroll {
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  width: 5px;
  background: #D9D9D9;
  border-radius: 5px;
}

.btn-close-big {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 60px;
  height: 60px;
  background: url("./img/icon60/close.svg") center no-repeat;
  background-size: 100%;
}

.btn-close-medium {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: url("./img/icon40/close.svg") center no-repeat;
  background-size: 100%;
}

.btn-sty1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #13BE9E;
  background: #FFF;
  color: #13BE9E;
  font-size: 20px;
  font-weight: 700;
  flex: 0 0 100px;
  height: 50px;
}

.btn-sty2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #13BE9E;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  flex: 1 1 100%;
  height: 50px;
}

.btn-sty3 {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #666;
  text-align: center;
  padding: 0px 15px;
  border-radius: 5px;
  border: 1px solid #959595;
  background: #FFF;
  font-weight: 700;
}

.btn-sty4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #13BE9E;
  background: #FFF;
  color: #13BE9E;
  font-size: 20px;
  font-weight: 700;
  flex: 0 0 500px;
  height: 50px;
}

.btn-sty5 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #13BE9E;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  flex: 0 0 500px;
  height: 50px;
}

.btn-sty6 {
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  background: #008963;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.btn-sty7 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #13BE9E;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  flex: 0 0 50px;
  height: 50px;
  width: calc(100% - 30px);
}

.btn-sty8 {
  width: 100%;
  height: 40px;
  color: #008963;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid #63CAAD;
  background: #FFF;
}

.i-arr {
  display: inline-flex;
  flex: none;
  width: 14px;
  height: 14px;
  flex: none;
  background-image: url("./img/icon14/arrow-g1.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-move {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex: none;
  background: url("./img/icon20/default/move.svg") center no-repeat #D9D9D9;
  background-size: 20px;
}

.btn-back {
  display: block;
  width: 40px;
  height: 40px;
  background: url("./img/icon20/default/back.svg") center no-repeat #ACEEDB;
  background-size: 20px;
  border-radius: 100%;
}

.btn-remove {
  width: 40px;
  height: 40px;
  background: url("./img/icon20/default/remove.svg") center no-repeat #D9D9D9;
  background-size: 20px;
  border-radius: 100%;
}

.btn-memo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: url("./img/icon20/default/memo.svg") center no-repeat #13BE9E;
  background-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}

.btn-shootphoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: url("./img/icon20/default/camera.svg") center no-repeat #13BE9E;
  background-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}

.gender-radio-wrap {
  display: flex;
  flex: 1 1 280px;
  height: 60px;
}
.gender-radio-wrap button {
  display: flex;
  width: 50%;
  height: 100%;
}
.gender-radio-wrap button:first-child label {
  border-right: none;
  border-radius: 2px 0px 0px 2px;
}
.gender-radio-wrap label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #13BE9E;
  background: #FFF;
  color: #13BE9E;
  font-size: 20px;
}
.gender-radio-wrap input[type=radio] {
  appearance: none;
  margin: 0;
}
.gender-radio-wrap input[type=radio]:checked + label {
  border: 1px solid #13BE9E;
  background: #13BE9E;
  color: #FFF;
}

.textoverflow {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.type {
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 10px;
  border-radius: 5px;
  background: #F2F2F2;
  color: #444;
  font-size: 16px;
}

.from {
  color: #444;
  font-size: 18px;
  font-weight: 700;
}

.btn-remove2 {
  width: 30px;
  height: 30px;
  background: url("./img/icon30/default/remove2.svg") center no-repeat;
  background-size: 30px;
}

.slider-wrap {
  position: relative;
}
.slider-wrap .slider-body {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-wrap .slider-body .slider-list {
  display: flex;
  width: 100%;
  height: 330px;
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
}
.slider-wrap .slider-body .slider-list .slider-box {
  display: none;
}
.slider-wrap .slider-body .slider-list .slider-box.active {
  display: block;
}
.slider-wrap .indication-box {
  position: absolute;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}
.slider-wrap .indication-box .dot-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  gap: 12px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.slider-wrap .indication-box .dot-wrap a {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: indianred;
  opacity: 0.5;
}
.slider-wrap .indication-box .dot-wrap a.on {
  opacity: 1;
}
.slider-wrap .indication-box .page_num {
  padding-right: 20px;
}
.slider-wrap .indication-box .page_num.on {
  display: block;
}
.slider-wrap .indication-box .page_num em {
  font-style: normal;
}
.slider-wrap > .arrow {
  pointer-events: none;
  opacity: 0;
}
.slider-wrap > .arrow .prev, .slider-wrap > .arrow .next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: url("./img/icon50/arrow.svg") center no-repeat;
  background-size: 50px;
  opacity: 0.2;
  pointer-events: none;
}
.slider-wrap > .arrow .prev.on, .slider-wrap > .arrow .next.on {
  display: inline-block;
  opacity: 1;
  pointer-events: all;
}
.slider-wrap > .arrow .prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
}
.slider-wrap > .arrow .next {
  right: 0;
  transform: translateY(-50%) rotate(0deg);
  -webkit-transform: translateY(-50%) rotate(0deg);
}

.slider-wrap {
  height: calc(100% - 200px);
}
.slider-wrap .slider-body {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider-wrap .slider-body .slider-list {
  height: 100%;
  gap: 25px;
}
.slider-wrap .slider-body .slider-box {
  height: 100%;
  width: calc((100vw - 138px - 75px)/4);
  flex: 0 0 calc((100vw - 138px - 75px)/4);
}

@media (any-pointer: coarse) {
  .slider-wrap .slider-body > .arrow {
    pointer-events: none;
    opacity: 0;
  }

  #slider14 .arrow, #slider15 .arrow {
    pointer-events: all;
    opacity: 1;
  }

  .indication-box {
    pointer-events: none;
  }

  .popup-gallary .arrow {
    pointer-events: all;
    opacity: 1;
  }
}
.section-caddy {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 20px 0 48px;
}
.section-caddy .ymdtime {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7EADA0;
  font-size: 20px;
  font-weight: 700;
  gap: 7px;
  margin-bottom: 20px;
  flex: none;
}
.section-caddy .ymdtime .ymd {
  display: inline-flex;
}
.section-caddy .ymdtime .ymd > span {
  display: inline-flex;
}
.section-caddy .ymdtime .ymd > span.yy:after, .section-caddy .ymdtime .ymd > span.mm:after {
  content: "/";
  display: inline-flex;
}
.section-caddy .tit-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex: none;
}
.section-caddy .tit-wrap .tit {
  display: flex;
  position: relative;
  color: #1F1F1F;
  font-size: 30px;
}
.section-caddy .tit-wrap .tit .bold {
  font-weight: 700;
}
.section-caddy .tit-wrap .tit .recall-wrap {
  position: absolute;
  right: -47px;
  display: flex;
}
.section-caddy .tit-wrap .tit .recall-wrap .btn-recall {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: url("./img/icon20/default/recall.svg") center no-repeat #ACEEDB;
  background-size: 20px;
}
.section-caddy .tit-wrap .tit .recall-wrap .btn-recall.on {
  animation: rotate 2s 1;
}
.section-caddy .tit-wrap .tit .recall-wrap .btn-recall.on + .txt {
  animation: visible 2s 1;
}
.section-caddy .tit-wrap .tit .recall-wrap .txt {
  visibility: hidden;
  position: fixed;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #63CAAD;
  font-size: 20px;
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle {
  margin-left: 10px;
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle.left {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5px;
  margin-left: 0;
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle span {
  display: inline-flex;
  width: 8px;
  height: 8px;
  background: #63CAAD;
  border-radius: 100%;
  margin-right: 5px;
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle span:nth-child(1) {
  transform: scale(1);
  -webkit-transform: scale(1);
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle span:nth-child(2) {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle span:nth-child(3) {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle span:nth-child(4) {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
}
.section-caddy .tit-wrap .tit .recall-wrap .txt .circle span:nth-child(5) {
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
}
.section-caddy .slider-wrap {
  margin-top: 19px;
}
.section-caddy .slider-wrap .slider-box {
  padding-top: 62px;
  padding-bottom: 10px;
}
.section-caddy .playcard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 40px 35px 20px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 5px 10px 0px rgba(37, 212, 163, 0.25);
}
.section-caddy .playcard.end .time {
  background: #D9D9D9;
  color: #959595;
}
.section-caddy .playcard.end .btn-scoreboard {
  display: block;
}
.section-caddy .playcard.end .js-btn-start {
  display: none;
}
.section-caddy .playcard.end .section ul li .btn-qr {
  display: none;
}
.section-caddy .playcard.now .time {
  background: linear-gradient(110deg, #02B6D1 26.17%, #00C08B 84.15%);
  color: #FFF;
}
.section-caddy .playcard.now .js-btn-start {
  display: block;
  pointer-events: auto;
  visibility: visible;
}
.section-caddy .playcard .time {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 4.8px;
  background: #13BE9E;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 10px;
}
.section-caddy .playcard .btn-comp {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 40px;
  height: 40px;
  background: url("./img/icon20/default/comp.svg") center no-repeat #ACEEDB;
  background-size: 20px;
  border-radius: 100%;
  transform: translateX(-105px);
  -webkit-transform: translateX(-105px);
}
.section-caddy .playcard .btn-comp .txt {
  display: none;
  position: absolute;
  top: calc(-100% - 2px);
  left: 50%;
  border-radius: 3px;
  background: #444;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  font-size: 12px;
  transform: translateX(-50%);
}
.section-caddy .playcard .btn-comp .txt:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  border-top: 8px solid #444;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.section-caddy .playcard .btn-comp.on {
  background-color: #63CAAD;
}
.section-caddy .playcard .btn-comp.on .txt {
  display: block;
}
.section-caddy .playcard .section.playersection {
  height: calc(100% - 300px);
  flex: 1 1 calc(100% - 300px);
}
.section-caddy .playcard .section.group {
  display: none;
}
.section-caddy .playcard .section.group.on {
  display: block;
}
.section-caddy .playcard .section .tit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 25px;
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid #D9D9D9;
}
.section-caddy .playcard .section ul.scroll {
  height: calc(100% - 26px);
}
.section-caddy .playcard .section ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  color: #666;
  font-size: 14px;
  border-bottom: 1px solid #D9D9D9;
}
.section-caddy .playcard .section ul .btn-qr {
  position: absolute;
  left: 11px;
  width: 20px;
  height: 20px;
  flex: none;
  background: url("./img/icon20/default/qr.svg") center no-repeat;
  background-size: 100%;
}
.section-caddy .playcard .btnhalf-wrap {
  display: flex;
  gap: 2px;
}
.section-caddy .playcard .btnhalf-wrap > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 1px solid #D9D9D9;
}
.section-caddy .playcard .btnhalf-wrap > li .tit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25px;
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #D9D9D9;
}
.section-caddy .playcard .btn-sty8 {
  display: none;
  flex: 0 0 40px;
}
.section-caddy .playcard .js-btn-start {
  display: block;
  visibility: hidden;
  pointer-events: none;
}

@keyframes visible {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}