
// Scenario Animation snar01~22
#content {  
    .animate {
        display:none;
    }      
    &.snar01 {
        .animate {
            display:block;
        }    
        .an9,.an10  {
            display:none;
        }
        .an3 ,.an4 ,.an5 , .an6 , .an7 {
            ._a1 {
                .arr-y {
                    display:none;
                }
            }
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arry {
                    display:none;
                }
            }

        }
    }   
    &.snar02 {
        .animate {
            display:block;
        }   
        .an2,.an3,.an4,.an5,.an6 ,.an7 ,.an8 , .an9 , .an10 {
            display:none;
        }            
    }     
    &.snar03 ,  &.snar04 , &.snar05 , &.snar06, &.snar07{
        .animate {
            display:block;
        }    
        .an9,.an10  {
            display:none;
        }
        .an3 ,.an4 ,.an5 , .an6 , .an7 {
            ._a1 {
                .arr-y {
                    display:none;
                }
            }
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arry {
                    display:none;
                }
            }

        }
    }  
    &.snar03 {
        .an3  {
            display:none;
        }
    }
    &.snar04 {
        .an4  {
            display:none;
        }
    }
    &.snar05 {
        .an5  {
            display:none;
        }
    }
    &.snar06 {
        .an6  {
            display:none;
        }
    }
    &.snar07 {
        .an7  {
            display:none;
        }
    }  
    &.snar08 {
        .animate {
            display:none;
        }  
    }   
    &.snar09 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an3,.an4,.an5,.an6,.an7,.an8,.an10  {
            display:none;
        }
    } 
    &.snar10 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an3,.an4,.an5,.an6,.an7 {
            display:none;
        }
    } 
    &.snar11 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an4,.an5,.an6,.an7,.an8 {
            display:none;
        }
        .an3 {
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrleft {
                    display:none;
                }
            }
        }
        
    } 
    &.snar12 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an5,.an6,.an7 {
            display:none;
        }
        .an3 ,.an4{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrleft {
                    display:none;
                }
            }
        }
    } 
    &.snar13 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an6,.an7 {
            display:none;
        }
        .an3 ,.an4,.an5{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrleft {
                    display:none;
                }
            }
        }
    } 
    &.snar14 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an7 {
            display:none;
        }
        .an3 ,.an4,.an5,.an6{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrleft {
                    display:none;
                }
            }
        }
    } 
    &.snar15 {
        .animate {
            display:block;
        }  
        .an1,.an2 {
            display:none;
        }
        .an3 ,.an4,.an5,.an6,.an7{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrleft {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arry {
                    display:none;
                }
            }

        }
    } 

    &.snar16 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an3,.an4,.an5,.an6 {
            display:none;
        }
        .an7{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrright {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arr-y {
                    display:none;
                }
            }

        }
    } 
    &.snar17 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an3,.an4,.an5 {
            display:none;
        }
        .an6,.an7{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrright {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arr-y {
                    display:none;
                }
            }

        }
    } 
    &.snar18 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an3,.an4 {
            display:none;
        }
        .an5,.an6,.an7{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrright {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arr-y {
                    display:none;
                }
            }

        }
    } 
    &.snar19 {
        .animate {
            display:block;
        }  
        .an1,.an2,.an3 {
            display:none;
        }
        .an4,.an5,.an6,.an7{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrright {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arr-y {
                    display:none;
                }
            }

        }
    } 
    &.snar20 {
        .animate {
            display:block;
        }  
        .an1,.an2 {
            display:none;
        }
        .an3,.an4,.an5,.an6,.an7{
            ._a1 {
                .arry {
                    display:none;
                }
            }
            ._a3 {
                .arrright {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }
        .an7  {
            ._a2 {
                .arr-y {
                    display:none;
                }
            }

        }
    } 
    &.snar21 {
        .animate {
            display:block;
        }  
        .an1,.an2 {
            display:none;
        }
        .an3,.an4,.an5,.an6,.an7{
            ._a1 {
                .arry {
                    display:none;
                }
            }            
        }
        .an4,.an5,.an6,.an7 {
            ._a3 {
                .arrright {
                    display:none;
                }
            }
            ._a4 {
                .arrright {
                    display:none;
                }
            }
        }

        .an7  {
            ._a2 {
                .arr-y {
                    display:none;
                }
            }

        }
        .an3 {
            ._a3 {
                .arrleft {
                    display:none;
                }
            }
            ._a4 {
                .arrleft {
                    display:none;
                }
            }

        }
    } 
}