.cctv-list {
    display: block;    
    width: 286px;
    height: calc(100% - 75px);
    background: rgba(25, 47, 101, 0.8);
    border: 1px solid #2C4AA8;
    border-radius: 10px;

    .btn_submit {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        width: 246px;
        height: 52px;
        background: #999999;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
        pointer-events: none;
        &.on {
            background: #1B90FC;
            pointer-events: auto;
          }
    }

    .scroll {
        
        .list {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            width: 246px;
            gap: 6px;
            list-style: none;
            padding-left:0;
            li {
                width: 100%;
                &.on {
                    border: 1px solid #17349F;
                    .tit-wrap .btn_ckopen {
                        transform: rotate(180deg);
                      }
                      .ck-list {
                        display: block;
                      }
                }
                .tit-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;                    
                    height: 40px;
                    padding-left: 20px;
                    background: #17349F;
                    .ck-all {
                        display: flex;
                        align-items: center;
                        color: #FFFFFF;
                        font-weight: 700;
                        font-size: 16px;
                    }
                    .btn_ckopen {
                        width: 40px;
                        height: 100%;
                        background: url("./arrow12.svg") center no-repeat;
                        background-size: 14px 9px;
                        transform: rotate(0deg);
                    }
                    .input-ck {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background: #fff;
                        border-radius: 5px;
                        cursor: pointer;
                        height: 18px;
                        outline: 0;
                        width: 18px;
                        margin-right: 10px;
                        &::after {
                            content: "";
                            position: relative;
                            display: none;
                            width: 30%;
                            height: 45%;
                            top: 20%;
                            left: 32%;
                            border: solid #fff;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                        &:checked {
                            background: #1B90FC;
                            &::after {
                                display: block;
                              }
                        }
                    }

                }
                .ck-list {
                    display: none;
                    padding: 13px 0;
                    background: #162045;
                    li {
                        display: flex;
                        align-items: Center;
                        width: 100%;
                        height: 32px;
                        padding: 0 20px;
                        color: #FFFFFF;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}  
  