/*셀렉트메뉴 공통*/
.container {
    background:#000;
}
.select_div {
    position:relative;
}

.select_div > .pick  {
    display:flex;
    align-items:center;
    width:100%;  
    height:100%;
    max-height:38px;    
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background: transparent;   
    cursor: pointer;
    transition:0.3s;
}
.select_div > .pick .txt{
    display: flex;
    align-items:center;
    width: 100%;
    height:100%;
    padding-left:9px;
    color: #FFFFFF;
    font-size: 1.4em;
}
.select_div > .pick .arrow {
    display:flex;
    margin-left:auto;
    width:30px;
    height:100%;
    background:url('../img/btn_arrow/icon.png') center no-repeat;
    background-size:13px 8px;
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transition:transform 0.3s ease-in-out;
    -webkit-transition:transform 0.3s ease-in-out;  
    padding:0 9px;  
}
.select_div.on > .pick,
.select_div:hover > .pick {
    border: 1px solid #2D56F7;    
    background: #16143F;
}

.select_div.on > .pick .arrow {
    transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    background-position: center;
}  
.select_div.on .select_sub {
    padding:1em 0;
    height:auto;
    border: 1px solid #2D56F7;                     
}
.select_sub {    
    /* overflow:hidden;
    overflow-y:auto; */
    height:0;
    border:none;
    position:absolute;
    top:calc(100% + 0.5em);
    left:0;
    width:calc(100%);  
    max-height:230px;    
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index:1;
    border-radius: 5px;
    background: #16143F;
}
.select_sub >  .inner {
    /* width:calc(100% + 1em); */
    width: calc(100% - 0.5em);
    height:105%;
    overflow:hidden;
    overflow-y:auto;
}
.select_sub > .inner > li {
    display: flex;
    align-items:center;
    height:3em;
    max-height:30px;
    padding:0 2em;
    background: #16143F;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.select_sub > .inner > li:first-child {
    /* margin-top:1em; */
}
.select_sub > .inner > li:hover {
    background: #2D56F7;    
}
.select_sub > .inner > li > .txt {
    color: #FFFFFF;
    font-size: 1.4em;
}

.w170 {
    width:170px;
    height:40px;
}