body {
  display:flex;  
  height:100vh;
}
.switch01 {
  margin:auto;
  /* margin-left: 1vw; */
  position: relative;
  width: 3.7rem;
  height: 2rem;
  background: #999999;
  border: 1px solid #0E194C;
  border-radius: 1.1rem;
  cursor: pointer;
}
.switch01:before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  border-radius: 50%;
  top: 2px;
  bottom: 2px;
  right: calc(1px);
  left: 30px;
  transition: right 0.5s, left 0.4s 0.2s;
}
.switch01.on {
  background: #1B90FC;
}
.switch01.on:before {
  left: calc(1px);
  right: 30px;
  transition: left 0.5s, right 0.4s 0.2s;
}