$i:10;

 @while $i > 0 {
    .loader > span:nth-child(#{$i}) {        
        transform:translate(-50%, -50%) 
         rotate(calc(((360 / 10)) * #{$i} * 1deg))
        translate(0, -125%);
        opacity: calc( #{$i} / 10);
    }    
    $i : $i - 1;
 }
 .loader {
    position:relative;
    width:100px;
    height:100px;
    animation: spin 0.75s infinite steps(10);    
 }
 .loader > span {
    background: grey;
    width:10%;
    height: 25%;
    position:absolute;
    top:50%;
    left:50%;    
 }

 body {
    display: grid;
    grid-auto-rows: calc(20vh - 4px);
    gap: 4px;
    background: gray;
    margin: 0;
  }

  .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 9vw;
    padding-inline: 4vw;
    gap: 10vw;
    background: white;
  }
  
  .row:nth-child(even) {
    justify-content: center;
  }
  
  .row:nth-child(3n) {
    justify-content: end;
  }

  .square {
    border-inline: 4px solid gray;
    background: black;
  }



.rainbow {
	position: relative;
	z-index: 0;
	width: 400px;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
		// animation: opacityChange 3s infinite alternate;
	}
}

@keyframes opacityChange {
	50% {
		opacity:1;
	}
	100% {
		opacity: .5;
	}
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
 