.page-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  width: 500px;
}
.page-area .page-num {
  padding: 0 13px;
}
.page-area .page-num button {
  padding: 0 7px;
  color: #999999;
  font-size: 16px;
}
.page-area .page-num button.on {
  color: #365DE7;
}
.page-area .prev-area, .page-area .next-area {
  display: flex;
}
.page-area .prev-area button {
  transform: rotate(180deg);
}
.page-area .twoarr {
  display: flex;
  width: 11px;
  height: 11px;
  background: url("./img/two-arr.svg") center no-repeat;
  background-size: 100%;
}
.page-area .onearr {
  width: 7px;
  height: 11px;
  background: url("./img/one-arr.svg") center no-repeat;
  background-size: 100%;
}
.page-area .prev {
  margin-left: 6px;
}
.page-area .next {
  margin-right: 6px;
}

button {
  border: none;
  cursor: pointer;
}