@charset "UTF-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

input:focus, button:focus {
  /* outline:transparent; */
}

*:focus, input:focus-visible, input, input[type=search] {
  outline: none;
}

button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-family: "NotoSanskr-R";
}

/* 키보드로 버튼에 포커스 시 */
*:focus:focus-visible {
  outline: 2px solid #000;
}

input:focus:focus-visible {
  outline: none;
}

/* 마우스, 터치로 버튼에 포커스 시 */
*:focus:focus:not(:focus-visible) {
  outline: none;
}

.t0 {
  font-size: 0;
}

.t12 {
  font-size: 1.2rem;
}

.t14 {
  font-size: 1.4rem;
}

.t16 {
  font-size: 1.6rem;
}

.t18 {
  font-size: 1.8rem;
}

.t20 {
  font-size: 2rem;
}

.t24 {
  font-size: 2.4rem;
}

.t28 {
  font-size: 2.8rem;
}

.t36 {
  font-size: 3.6rem;
}

.t48 {
  font-size: 4.8rem;
}

.wr {
  font-weight: 400;
}

.wm {
  font-weight: 500;
}

.wb {
  font-weight: 700;
}

.nowr {
  white-space: nowrap;
}

.wdkp {
  word-break: keep-all;
}

.mglat {
  margin-left: auto;
}

.mgl4 {
  margin-left: 0.4rem;
}

.mgr4 {
  margin-right: 0.4rem;
}

.mgt5 {
  margin-top: 0.5rem;
}

.mgt10 {
  margin-top: 1rem;
}

.mgt15 {
  margin-top: 1.5rem;
}

.mgt20 {
  margin-top: 2rem;
}

.mgt24 {
  margin-top: 2.4rem;
}

.mgt25 {
  margin-top: 2.5rem;
}

.mgt35 {
  margin-top: 3.5rem;
}

.mgb30 {
  margin-bottom: 3rem;
}

.mgb24 {
  margin-bottom: 2.4rem;
}

.mgb20 {
  margin-bottom: 2rem;
}

.mgb15 {
  margin-bottom: 1.5rem;
}

.mgb10 {
  margin-bottom: 1rem;
}

.mgb6 {
  margin-bottom: 0.6rem;
}

.mgb5 {
  margin-bottom: 0.5rem;
}

.mgb8 {
  margin-bottom: 0.8rem;
}

.pdl80 {
  padding-left: 8rem;
}

.pdl10 {
  padding-left: 1rem;
}

.lh23 {
  line-height: 2.3rem;
}

.lhbest {
  line-height: 1.618;
}

.cr1 {
  color: #FF3434;
}

.cg3 {
  color: #525252;
}

.cg4 {
  color: #D9D9D9;
}

.cg6 {
  color: #6F6F6F;
}

.cb1 {
  color: #1B1B1B;
}

.cw1 {
  color: #FFFFFF;
}

.cp1 {
  color: #E4477A;
}

.cy1 {
  color: #FAC324;
}

.cc1 {
  color: #995E00;
}

.cbu1 {
  color: #3581DC;
}

.bgb {
  background-color: #00B4E3;
}

.bgy {
  background-color: #F18C1D;
}

.bgb2 {
  background-color: #E6F8FD;
}

.bgy2 {
  background-color: #FEF4E9;
}

.bgg1 {
  background-color: #DBDBDB;
}

.bgbw1 {
  background: #995E00;
}

.bgp1 {
  background-color: #E4477A;
}

.bgp2 {
  background-color: #F1E3EC;
}

.r100 {
  border-radius: 100%;
}

.lt1 {
  letter-spacing: -0.1rem;
}

.borb {
  border: 1px solid #3581DC;
}

.line:after {
  content: "";
  display: inline-flex;
  width: 1px;
  height: 1.7rem;
  margin: 0 1.5rem;
  background: #1B1B1B;
}

.por {
  position: relative;
}

.poa {
  position: absolute;
}

.tal {
  text-align: left;
}

.t-hdn {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  clip-path: polygon(1px 1px, 1px 1px, 1px 1px, 1px 1px);
  -webkit-clip-path: polygon(1px 1px, 1px 1px, 1px 1px, 1px 1px);
}
.t-hdn.focus {
  position: fixed;
  top: 0;
  left: 0;
}
.t-hdn.focus:focus {
  width: auto;
  height: auto;
  background: #000;
  color: #ffffff;
  display: block;
  z-index: 1;
  clip-path: inherit;
  -webkit-clip-path: inherit;
  font-size: 20px;
}

:root {
  --vh: 100%;
}

html, body {
  height: 100vh;
  height: var(--vh);
}

html {
  font-size: 62.5%;
  font-family: "NotoSansKr", sans-serif;
  font-weight: 400;
  color: #161616;
}

body {
  min-width: 320px;
  min-height: 300px;
  position: relative;
  overscroll-behavior-y: none;
  -webkit-text-size-adjust: 100%;
  touch-action: none;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  overflow: hidden;
}

.scroll::-webkit-scrollbar, .scroll::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #6F6F6F;
  border-radius: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(22, 22, 22, 0.45);
  z-index: 2;
}
.dim.on {
  bottom: 0;
}

.wrap {
  width: 100%;
}

.area02 {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
}
.area02 .scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(var(--vh) - 11.6rem - 6.2rem);
  width: calc(100% + 1rem);
}
.area02 .img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 43.3rem;
  background: #F1E3EC;
}

.txt-area {
  width: calc(100% - 0.5rem);
  margin-top: 2rem;
}
.txt-area p {
  display: flex;
  align-items: center;
}
.txt-area .ibus {
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0.3rem 0 0.4rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: #161616;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.list > li {
  display: flex;
  align-items: center;
  line-height: 2rem;
}
.list > li:before {
  content: "";
  display: inline-flex;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #161616;
  margin-right: 0.6rem;
}

.busbtn-area {
  display: flex;
  gap: 0.6rem;
  width: 100%;
  margin: 1rem 1.6rem 0 0;
  padding-bottom: 1rem;
  overflow-x: auto;
}
.busbtn-area button {
  width: 6.6rem;
  height: 4.2rem;
  flex: 0 0 6.6rem;
}

.slider-area2 {
  position: relative;
  width: calc(100% - 0.5rem);
  overflow: hidden;
}

.roadmap {
  display: flex;
  width: calc(100% - 6rem);
  -webkit-transform: translateX(0);
  position: absolute;
  left: 0;
  margin-top: 10.7rem;
  -webkit-transition: transform 0.3s ease-in-out;
}
.roadmap > li {
  position: relative;
  width: 100%;
  height: 100%;
  height: 25rem;
  border-radius: 3rem;
  border: 0.1rem dashed #6F6F6F;
  margin: 0 3rem;
}
.roadmap > li.m06 > ul.left li .point:before, .roadmap > li.m06 ul.right li .point:before {
  bottom: -0.5rem;
}
.roadmap > li.m06 > ul.left li .point:after, .roadmap > li.m06 ul.right li .point:after {
  top: -0.5rem;
}
.roadmap > li.m01 .bottom {
  padding: 0 3rem;
}
.roadmap > li.m01 .bottom li:nth-child(odd) .name {
  position: absolute;
  bottom: calc(100% + 0.4rem);
}
.roadmap > li.m01 .left, .roadmap > li.m01 .right {
  padding: 5rem 0rem;
}
.roadmap > li.m02 .bottom li:nth-child(odd) .name {
  position: absolute;
  bottom: calc(100% + 0.4rem);
}
.roadmap > li.m02 .left, .roadmap > li.m02 .right {
  padding: 5rem 0rem;
}
.roadmap > li.m03 .top {
  padding: 0 3rem;
}
.roadmap > li.m03 .bottom {
  padding: 0 3rem;
}
.roadmap > li.m03 .bottom li:nth-child(odd) .name {
  position: absolute;
  bottom: calc(100% + 0.4rem);
}
.roadmap > li.m03 .left, .roadmap > li.m03 .right {
  padding: 5rem 0rem;
}
.roadmap > li.m04 .bottom {
  padding: 0 4rem;
}
.roadmap > li.m04 .bottom li:nth-child(even) .name {
  position: absolute;
  bottom: calc(100% + 0.4rem);
}
.roadmap > li.m04 .left, .roadmap > li.m04 .right {
  padding: 4rem 0rem;
}
.roadmap > li.m05 .bottom li:nth-child(even) .name {
  position: absolute;
  bottom: calc(100% + 0.4rem);
}
.roadmap > li.m05 .left, .roadmap > li.m05 .right {
  padding: 4rem 0rem;
}
.roadmap > li.m06 .top {
  padding: 0 1rem;
}
.roadmap > li.m06 .bottom {
  padding: 0 1rem;
}
.roadmap > li.m06 .bottom li:nth-child(even) .name {
  position: absolute;
  bottom: calc(100% + 0.4rem);
}
.roadmap > li > ul {
  display: flex;
  position: absolute;
}
.roadmap > li > ul li {
  position: relative;
  display: flex;
  gap: 0.6rem;
}
.roadmap > li > ul li .point {
  display: inline-flex;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 0 0.2rem #d7ccd3;
}
.roadmap > li > ul li .point.start {
  background: #E4477A;
  box-shadow: 0 0 0 0.2rem #f1d1db;
}
.roadmap > li > ul li .point:before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.9rem;
  background: url("./tarr.png") center no-repeat;
  background-size: 100%;
}
.roadmap > li > ul li .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}
.roadmap > li .top {
  padding: 0 1rem;
  bottom: calc(100% - 0.5rem);
  left: 0;
  width: 100%;
  justify-content: space-between;
}
.roadmap > li .top li {
  flex-direction: column-reverse;
  align-items: center;
  flex: 1 1 100%;
  word-break: keep-all;
  white-space: nowrap;
}
.roadmap > li .top li .point:before {
  bottom: 0.2rem;
  right: 0;
}
.roadmap > li .top li:last-child .point:before {
  display: none;
}
.roadmap > li .top li:nth-child(even) .name {
  position: absolute;
  top: calc(100% + 0.4rem);
}
.roadmap > li .right {
  flex-direction: column;
  top: 0;
  right: -0.5rem;
  height: 100%;
  padding: 2.8rem 0;
}
.roadmap > li .right li {
  align-items: center;
  flex-direction: row-reverse;
  height: 100%;
}
.roadmap > li .right li .point:before {
  bottom: 0;
  right: 0rem;
  -webkit-transform: rotate(90deg);
}
.roadmap > li .right li:first-child .point:after {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 0.8rem;
  height: 0.9rem;
  background: url("./tarr.png") center no-repeat;
  background-size: 100%;
  -webkit-transform: rotate(90deg);
}
.roadmap > li .bottom {
  padding: 0 1rem;
  flex-direction: row-reverse;
  top: calc(100% - 0.5rem);
  left: 0;
  width: 100%;
  justify-content: space-between;
}
.roadmap > li .bottom li {
  align-items: center;
  flex-direction: column;
  flex: 1 1 100%;
  word-break: keep-all;
  white-space: nowrap;
}
.roadmap > li .bottom li .point:before {
  top: 0.2rem;
  left: 0;
  -webkit-transform: rotate(180deg);
}
.roadmap > li .bottom li:last-child .point:before {
  display: none;
}
.roadmap > li .left {
  flex-direction: column-reverse;
  top: 0;
  left: -0.5rem;
  height: 100%;
  padding: 2.8rem 0;
}
.roadmap > li .left li {
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.roadmap > li .left li .point:before {
  bottom: 0rem;
  left: 0;
  -webkit-transform: rotate(-90deg);
}
.roadmap > li .left li .name {
  align-items: flex-start;
}
.roadmap > li .left li:last-child .point:after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0;
  width: 0.8rem;
  height: 0.9rem;
  background: url("./tarr.png") center no-repeat;
  background-size: 100%;
  -webkit-transform: rotate(-90deg);
}

.opentable {
  position: absolute;
  top: 2.1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  display: flex;
  align-items: center;
  color: #E4477A;
  font-size: 1.2rem;
  border-bottom: 1px solid #E4477A;
  padding-bottom: 0.2rem;
}
.opentable i {
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.4rem;
}
.opentable span {
  display: inline-flex;
}

.dot-area {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  display: flex;
  gap: 0.4rem;
}
.dot-area span {
  display: inline-flex;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background: #C6C6C6;
}
.dot-area span.on {
  background: #E4477A;
}

@media (orientation: landscape) {
  .sec04 .busbtn-area {
    width: 100%;
    margin: 1rem 0 0 0;
  }
  .sec04 .busbtn-area button {
    width: calc(16.6666666667% - 0.6rem);
    flex: none;
  }
}
.popup-area > div {
  display: none;
  position: absolute;
}
.popup-area > div.on {
  display: flex;
}

.pop5 {
  flex-direction: column;
  left: 0;
  top: 0;
  background: #FFFFFF;
  width: 100%;
  height: var(--vh);
  z-index: 3;
}
.pop5 h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background: #FFFFFF;
  font-size: 2rem;
  border-bottom: 1px solid #F4F4F4;
}
.pop5 .bus-n {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  width: 4.2rem;
  height: 2rem;
  background: #E4477A;
  border-radius: 0.4rem;
  color: #FFFFFF;
  font-size: 1.2rem;
}
.pop5 .txt-i {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6.1rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #525252;
  padding: 0 1.6rem;
}
.pop5 .btn-close {
  position: absolute;
  right: 1.3rem;
  top: 1.3rem;
}
.pop5 .timetable-wrap {
  margin-left: 1.6rem;
  width: calc(100% - 1.6rem);
  height: calc(var(--vh) - 11.2rem);
  overflow: auto;
}
.pop5 .timetable-wrap > ul {
  display: none;
}
.pop5 .timetable-wrap > ul.on {
  display: grid;
}
.pop5 .timetable-area {
  position: relative;
  display: grid;
  grid-template-rows: 6rem repeat(auto-fill, 6rem);
  grid-auto-rows: 6rem;
  font-size: 1.4rem;
  color: #161616;
}
.pop5 .timetable-area li {
  display: grid;
  grid-template-columns: 3rem 10rem repeat(auto-fill, 5rem);
  grid-auto-columns: 5rem;
  grid-auto-flow: column;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
.pop5 .timetable-area li.head {
  position: sticky;
  top: 0;
  left: 0;
  font-weight: 700;
  z-index: 2;
  border-top: 0.2rem solid #E4477A;
}
.pop5 .timetable-area li.head > span {
  background: #FFF1F6;
}
.pop5 .timetable-area li.head > span:first-child {
  justify-content: center;
  background: #FFF1F6;
}
.pop5 .timetable-area li.head > span:nth-child(2) {
  background: #FFF1F6;
  align-items: center;
  padding-left: 0;
}
.pop5 .timetable-area li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid #E0E0E0;
}
.pop5 .timetable-area li > span:first-child {
  justify-content: flex-start;
  position: sticky;
  left: 0;
  z-index: 1;
  background: #FFFFFF;
  font-weight: 700;
  justify-content: center;
}
.pop5 .timetable-area li > span:last-child {
  border-right: none;
}
.pop5 .timetable-area li > span:nth-child(2) {
  position: sticky;
  left: 3rem;
  z-index: 1;
  background: #FFFFFF;
  word-break: keep-all;
  font-weight: 700;
  justify-content: flex-start;
  padding-left: 0.9rem;
  line-height: 1.3;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.04);
}

.btn13 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.6rem;
  height: 4.2rem;
  background: #FFFFFF;
  border-radius: 10rem;
  font-size: 1.4rem;
  color: #161616;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}
.btn13.on {
  color: #FFFFFF;
  background: #E4477A;
}

.btn-close {
  display: flex;
  align-self: flex-end;
  width: 2.4rem;
  height: 2.4rem;
  background: url("./iclose.png") center no-repeat;
  background-size: 2.4rem;
}
.btn-close:active {
  background-color: #DDDDDD;
}/*# sourceMappingURL=style.css.map */