.poi-wrap-ab {
  /* position: absolute;
  top: 20px;
  right: 30px; */
  display:flex;
  justify-content: center;
}
.poi-wrap-ab .poi-wrap {
  position: relative;
}
.poi-wrap-ab .poi-wrap > .btn_poimenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: rgba(31, 30, 119, 0.85);
  border: 1px solid #2C318D;
  border-radius: 5px;
  transition: 0.3s;
}
.poi-wrap-ab .poi-wrap > .btn_poimenu .icon {
  display: block;
  width: 40px;
  height: 40px;
  background: url("./icon1.png") center no-repeat;
  background-size: 100%;
}
.poi-wrap-ab .poi-wrap > .btn_poimenu .txt {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 3px;
}
.poi-wrap-ab .poi-wrap > .btn_poimenu.on {
  background: #2D56F7;
  background: #2D56F7;
  border: 1px solid #2D56F7;
}
.poi-wrap-ab .poi-wrap .sub-poi {
  position: absolute;
  top: 0;
  right: calc(100% + 20px);
  display: none;
  flex-wrap: wrap;
  width: 300px;
  padding: 20px 8px;
  background: #16143F;
  border: 2px solid #4367B7;
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
}
.poi-wrap-ab .poi-wrap .sub-poi > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 95px;
}
.poi-wrap-ab .poi-wrap .sub-poi > li label {
  text-align: center;
  cursor: pointer;
}
.poi-wrap-ab .poi-wrap .sub-poi > li .icon {
  display: block;
  width: 45px;
  height: 45px;
  background-size: 25px;
  border-radius: 50vh;
  margin-bottom: 7px;
  background-color: #25244c;
  transition: 0.3s;
}
.poi-wrap-ab .poi-wrap .sub-poi > li .txt {
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.2;
  transition: 0.3s;
}
.poi-wrap-ab .poi-wrap .sub-poi > li input[type=checkbox]:checked + label .icon {
  background-color: #2D56F7;
}
.poi-wrap-ab .poi-wrap .sub-poi > li input[type=checkbox]:checked + label .txt {
  color: #365DE7;
}
.poi-wrap-ab .poi-wrap.on .sub-poi {
  display: flex;
}
.poi-wrap-ab .poi-wrap input[type=checkbox] {
  width: 0;
  height: 0;
}