@charset "UTF-8";
html {
  font-size: 1vh;
  font-family: "NotoSansKr", sans-serif;
  font-weight: 400;
  color: #161616;
}

body {
  min-width: 1920px;
  min-height: 1000px;
  height: 100vh;
  position: relative;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: auto minmax(13rem, 22rem);
  width: 100%;
  height: 100%;
  background: #F2F4F8;
}

h1 {
  position: absolute;
  top: 1.85rem;
  left: 1.85rem;
  width: 13.7rem;
  height: 6.29rem;
}
h1 img {
  max-width: 100%;
}

.scroll::-webkit-scrollbar, .scroll::-webkit-scrollbar {
  width: 0.6rem;
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  width: 0.6rem;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.dim.on {
  bottom: 0;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty.none {
  display: none;
}
.empty i {
  margin-right: 0.9rem;
}

/*로딩중*/
.loader.on {
  display: flex;
}

.loader {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30.5rem;
  height: 8rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.9rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  z-index: 2;
}

.loader .rotate_round {
  display: inline-block;
  position: relative;
  width: 4.2rem;
  height: 4.2rem;
  border: 0.6rem solid #ffffff;
  border-right-color: #e4477a;
  border-top-color: #e4477a;
  border-radius: 100%;
  margin-right: 2.2rem;
  animation: spin_round 500ms infinite linear;
}

button {
  font-family: "NotoSansKr";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

hr {
  border-top: 1px solid #d9d9d9;
  border-color: transparent;
  border-top-color: #d9d9d9;
}

@keyframes spin_round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@media screen and (max-height: 1075px) {
  html {
    font-size: 10px;
  }
}