.container {
  display: flex;
}

.side_sheets {
  width: 212px;
  height: 100%;
  background: #362929;
}
.side_sheets .itemlist {
  overflow-y: auto;
  height: 100vh;
}
.side_sheets .itemlist > li {
  flex-direction: column;
}
.side_sheets .itemlist > li > button {
  width: 196px;
}
.side_sheets .sublist {
  padding-left: 16px;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 100ms linear, overflow 100ms linear;
}
.side_sheets .sublist > li > button {
  width: 186px;
}
.side_sheets li {
  display: flex;
  justify-content: center;
}
.side_sheets button {
  position: relative;
  text-align: left;
  height: 48px;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 24px;
  color: #d7c2c1;
  background-color: transparent;
  border: none;
  background-image: inherit;
  font-family: "NotoSansCJKkr-Regular";
  -webkit-transition: background 100ms linear;
  cursor: pointer;
  z-index: 1;
}
.side_sheets button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scaleX(0.32);
  -webkit-transition-duration: 200ms;
  -webkit-transition-propery: transform, opacity;
  -webkit-transition-timing-function: linear;
  border-radius: 100px;
  background: #5c3f3f;
  z-index: -1;
}
.side_sheets button:hover {
  background-image: linear-gradient(0deg, rgba(215, 194, 193, 0.08), rgba(215, 194, 193, 0.08));
}
.side_sheets button.active:before {
  opacity: 1;
  transform: scale(1);
}
.side_sheets button.more {
  position: relative;
}
.side_sheets button.more.open:before {
  opacity: 1;
  transform: scale(1);
  background: linear-gradient(0deg, rgba(215, 194, 193, 0.08), rgba(215, 194, 193, 0.08));
}
.side_sheets button.more.open + .sublist {
  height: calc(48px * 9);
}
.side_sheets button.more.open:after {
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
}
.side_sheets button.more:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  border-top: 5px solid #ffffff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: transform 100ms linear;
  -webkit-transition: transform 100ms linear;
  transform: translateY(-50%) rotate(0deg);
  -webkit-transform: translateY(-50%) rotate(0deg);
}

.content {
  width: calc(100% - 212px);
  height: 100%;
}
.content iframe {
  width: 100%;
  height: 99%;
}