/*열차 방향 화살표 애니메이션*/
.center{
  display:flex;
  align-items:center;
  justify-content: center;
  height:50px;
}
.center .arrow {
  position:absolute;
  animation : lefting 4s linear infinite; 
  transform:translateX(15px);
}
.center .arrow > span {
  display:inline-block;
  font-size:0;
  width:7px;
  height:10px;
  background:url('../img/icon_w4.png') center no-repeat;
  background-size:contain;    
}
.center .arrow.delay5 {
  -webkit-animation-delay: 5s; 
    animation-delay: 5s;
    transform:translateX(15px);
}
.center .arrow.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
    transform:translateX(-9px);
}
.center .arrow.delay2{
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
    transform:translateX(-3px);
}
.center .arrow.delay3{
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
    transform:translateX(3px);
}
.center .arrow.delay4 {
  -webkit-animation-delay: 4s; 
    animation-delay: 4s;
    transform:translateX(9px);
}

@keyframes lefting {     
  0% {        
     opacity:0;
     transform:translateX(-15px);
  }  
  20% {        
      opacity:1;
      transform:translateX(-9px);
   }    
  80% {        
     opacity:1;
     transform:translateX(9px);
 }    
 100% {    
     opacity:0;
     transform:translateX(15px);
 }
  
}
